.container-main{
    display: grid;
    grid-template-columns: 80% 20%;
}
.container-main section, .container-main aside, .container-form{
    margin: 15px;
    padding: 25px;
}
.container-backround{
    text-align: center;
    
}
.container-datos{
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: space-evenly;
}
.container-main button{
    width: 70%;
}
@media(max-width:1280px){
    .container-main{
      display: grid;
      grid-template-columns: 100%;
      text-align: center;
    }
    .container-backround{
        grid-template-columns: 100%;
    }
  }