* {
    margin: 0;
}
body{
    font-family: Calibri;
    font-size: 20px;
}
#logo_intecap{
    width: 200px;
}
#logo_intecap_52{
    width: 100%;
}
#redes a img{
    width: 40px;
    height: 40px;
    filter: saturate(1) contrast(1);
    transition: filter 400ms;
}
#redes a img:hover{
    filter: saturate(0) contrast(5);
}
header{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 117, 191);
}
.menu li{
    float: left;
}
.menu li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 400ms;
}
.menu li a:hover{
    background-color: rgb(0, 65, 100);
    color: white;
}
.active {
    background-color: rgb(0, 149, 230);
}
.container-backround{
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 15px;
    padding: 25px;
    transition: background-color 400ms;
}
.container-form{
    background-color: rgb(0, 117, 191);
    color: white;
    border-radius: 10px;
    text-align: center;
}
.container-form input, .container-form select, .container-form button{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px;
    font-family: Calibri;
    font-size: 15px;
    border-radius: 3px;
    border: 0px;
}
.container-form input:disabled{
    color: white;
}
.blue-button{
    background-color: rgb(0, 117, 191);
    color: white;
    margin: 20px 5px;
    padding: 10px 20px;
    font-family: Calibri;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 400ms;
}
.blue-button:hover{
    background-color: rgb(0, 65, 100);
}
@media(max-width:1280px){
    #logo_intecap_52{
        width: 50%;
    }
}
@media(max-width:1280px){
    #mision{
        order: 2;
    }
    #mapa{
        order: 1;
    }
    #vision{
        order: 3;
    }
}
@media(max-width:720px){
    header{
        grid-template-columns: auto;
        justify-content: center;
        text-align: center;
    }
    .menu{
        flex-direction: column;
    }
}